.standout { color: #f16753; }
.grey-text {color: #818181;}
}

.nav-button {
    margin-right: 10px; 
    cursor: pointer;
    font-size: 11px;
    color: #a0a0a0;
}
.nav-button.active {
    padding: 5px;
    border-radius: 5px;
    color: white;
    background: #f16753;
}

.hero-wrapper {
    background: url('https://raw.github.com/makersquare/first-full-layout/master/eterna/background.jpg') no-repeat;
    padding-top: 83px;
    height: 338px;
    overflow: hidden;
}

.hero-wrapper h3 {font-weight: 900;}
.headerwrap {
    margin: 25px 0;
}

.right-feature-sides {
    margin-left: 78px;
    width: 190px;
}
.right-feature-sides h4 {
    margin-top: 0px;
    font-size: 24px;
    font-weight: 200;
}
.features-and-footer {
    margin-top: 44px;
}

.feature-dot {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    padding-top: 4px;
    font-size: 35px;
    float: left;
    background: #f16753;
    border-radius: 50%;
    color: white;
    text-align: center;
}
.learn-more-link {
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    display: block;
}

footer {
    border-top: 1px solid #ddd;
    margin-top: 80px;
    padding-top: 15px;
}

.subscribe {
    background: #dc5e4c;
    border: 0; 
    color: white; 
    height: 33px;
    border-radius: 0 3px 3px 0;
    padding: 0 20px;
    margin-left: -5px;
}
.subscribe-email {
    width: 200px;
    height: 35px;
    border: 0;
}